<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Faker</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="30">
    <meta name="author" content="foxxer">
    <meta name="description" content="undefined">
    <meta name="keyword" content="undefined">
    <link rel="stylesheet" type="text/css" href="css/faker.css" />
  </head>
  <body>
    {{{ body }}}
    
    <script type="text/javascript" href="javascript/blog.js"></script>
  </body>
</html>
